body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.products {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
}

.products__item {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.products__item:last-child {
    border-bottom: none;
}
